* {
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 100%;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  padding: 0px 20px;
  align-items: center;
  justify-content: space-between;
}

#navDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

#navDiv img {
  height: 30px;
  width: 37px;
}

h1 {
  /* width: 140.79px; */
  /* height: 24px; */
  font-family: karla, sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 114%;
  letter-spacing: -0.1em;
  color: #FFFFFF;
}

h3 {
  /* width: 189px; */
  /* height: 14px; */
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 125%;
  text-align: right;
  color: #FFFFFF;
}

main {
  width: 100%;
  box-sizing: border-box;
  /* background-color: #E5E5E5; */
}

#formContainer{
  position: relative;
  top: 40px;
  display: grid;
  grid-template-areas: 
      'main main right right'
      'foot foot foot foot';
  gap: 20px; 
  justify-content: center;
  /* width: 100%; */
}

#topInput {
  grid-area: main;
  width: 400px;
  border: 1px solid #D5D4D8;
  height: 40px;
  border-radius: 5px;
  font-family: Karla;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #0D0D0D;
  padding-left: 15px;
}

#bottomInput {
  grid-area: right;
  width: 400px;
  border: 1px solid #D5D4D8;
  height: 40px;
  border-radius: 5px;
  font-family: Karla;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #0D0D0D;
  padding-left: 15px;
}

button {
  grid-area: foot;
  width: 820px;
  height: 45px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  border-radius: 5px;
  font-family: Karla;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 19px;
  letter-spacing: -0.1em;
  color: #FFFFFF
}

.memeDiv {
  position: relative;
  width: 820px;
  height: 350px;
  background: black;
  border-radius: 5px;
  margin: 70px auto 30px auto;
}

.top {
  position: absolute;
  width: 100%;
  top: 15px;
  height: 39px;
  font-family: Impact;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  z-index: 10;
  text-shadow: 4px 4px #000000;
}

.memeImage {
  position: relative;
  width: 820px;
  height: 350px;
}

.bottom {
  position: absolute;
  width: 100%;
  bottom: 15px;
  height: 39px;
  font-family: Impact;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  z-index: 10;
  text-shadow: 4px 4px #000000;
}

